<%= render 'shared/errors', obj: @arihant %>

<div class='row'>
 <div class='col-md-12'>
 
<%= form_for(@arihant, :html => {class: "form-horizontal", role: "form"})  do |f|  %>
<div class="form-group">
 <div class="col-sm-2 control-label" >
  <%= f.label :Name  %>
 </div>
 <div class="col-sm-8">
  <%= f.text_field :Name, class: "form-control", placeholder: "Name of Person", autofocus: true %>
 </div>
</div>


<div class="form-group">
 <div class="col-sm-2 control-label" >
  <%= f.label :Division   %>
 </div>
 <div class="col-sm-8">
  <%= f.text_area :Division , class: "form-control", placeholder: "Division of Article" %>
 </div>
</div>

<div class="form-group">
 <div class="col-sm-2 control-label" >
  <%= f.label :Date  %>
 </div>
 <div class="col-sm-8">
  <%= f.text_field :Created  , class: "form-control", placeholder: "Created Date"  %>
 </div>
</div>


<div class="form-group">
 <div class="col-sm-offset-2 col-sm-2" >
 <div class="col-sm-2 btn-submit">
  <%= f.submit "Create Article"  %>
 </div>
</div>
</div>
  <% end %>
<div class="col-xs-4 col-xs-offset-4 btn-right">
  [<%= link_to 'Cancel', arihants_path %>]
</div>
 

 </div>
</div>

 
