<h2 class="center">Title: <%= @arihant.Name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
     <h4 align: Right> <strong>Created Date:</strong><%= @arihant.Created %></h4>
    <h4 class="center"> <strong>Division:</strong></h4>
    <hr>
    <%= simple_format(@arihant.Division) %>
    <div class="article-actions">
        <%= link_to 'View all Articles', arihants_path,class: "btn btn-xs btn-success" %>
         <%= link_to 'Delete the Articles', arihant_path(@arihant),method: :delete,
                         data: {confirm: "Are you sure you want to delete the data?"} ,
                         class: "btn btn-xs btn-danger" %>
        <%= link_to 'Edit the Articles', edit_arihant_path(@arihant),class: "btn btn-xs btn-primary" %>

        
    </div>    
</div>

