<h1>Showing the selected Records</h1>

<p>
Name: <%= @arihant.Name %>
</p>


<p>
Division: <%= @arihant.Division %>
</p>


<p>
Created: <%= @arihant.Created %>
</p>

<%= link_to 'Back', arihants_path %>
<%= link_to 'Edit', edit_arihant_path(@arihant) %>
